<div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-700 text-white">
    <div class="flex flex-no-shrink h-12 w-full px-2 lg:px-10 bg-gray-800">
        <span
            class="flex-no-grow flex-no-shrink relative py-2 leading-normal text-white no-underline flex items-center hover:bg-grey-dark">
            Password Manager
        </span>
    </div>

    <div class="mt-4 px-2 lg:px-10">
        <div class="flex flex-wrap">
            <div class="w-full" [formGroup]="form">
                <input formControlName="searchTerm"
                    class="text-xl lg:w-8/12 w-full text-white lg:text-left text-center outline-none bg-gray-700"
                    placeholder="Search Password..." />
                <button
                    (click)="addPassword()"
                    class="flex cursor-pointer lg:float-right lg:mt-0 mt-3 lg:text-right text-center self-center text-white">
                    <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                    </svg>
                    <span class="ml-2">
                        Add Password
                    </span>
                </button>
            </div>
        </div>

        <hr class="mt-3" />

        <app-list-password (onDeletePassword)="deletePassword($event)" (onEditPassword)="editPassword($event)"
            [searchTerm]="form.controls['searchTerm'].value"></app-list-password>
    </div>
</div>

<app-modal-password (onSavePassword)="triggerSearch()"></app-modal-password>