<div class="flex min-w-full relative justify-center text-gray-200">
    <div *ngIf="isOpen" class="flex fixed min-w-full h-full inset-0 lg:p-6 p-0 justify-center"
        style="background: rgba(0,0,0,.7); z-index: 900 !important">
        <ng-container>
            <button class="fixed inset-0 h-full w-full bg-black opacity-0 cursor-default z-0" tabindex="-1"
                type="button" (click)='close()'>
            </button>
        </ng-container>

        <div class="relative lg:w-8/12 w-full border border-gray-500 bg-gray-700 lg:min-h-0 min-h-full self-center rounded shadow-lg z-10"    
        style="max-height: 85%;" @fade>
            <div class="text-left">
                <div class="flex w-full items-center p-4">
                    <ng-content select='[modal-header]'></ng-content>
                    <ng-container>
                        <div (click)="close()" class="cursor-pointer z-50 absolute right-0 top-0 m-2">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                <path
                                    d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                                </path>
                            </svg>
                        </div>
                    </ng-container>
                </div>

                <hr />

                <!-- BODY -->
                <div class="p-4">
                    <ng-content select='[modal-body]'></ng-content>
                </div>
                
                <hr />

                <div class="p-4">
                    <ng-content select='[modal-footer]'></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>