<app-modal #modal>
    <div modal-header>
        <h1 class="text-gray-200 font-medium text-lg">
            {{ passwordCardId ? 'Edit Password' : 'Create new password' }}
        </h1>
    </div>

    <div modal-body>
        <div [formGroup]="passwordForm">
            <div class="mb-6">
                <label for="url" class="block mb-2 text-sm font-medium">
                    URL
                </label>
                <input formControlName="url" maxlength="200"
                    class="border block w-full h-10 outline-none text-sm rounded-lg p-2.5 bg-gray-700 border-gray-600 placeholder-gray-200 text-gray-200 focus:ring-blue-500 focus:border-blue-500" />
            </div>

            <div class="mb-6">
                <label for="username" class="block mb-2 text-sm font-medium">
                    Username
                </label>
                <input formControlName="username"
                    class="border block w-full h-10 outline-none text-sm rounded-lg p-2.5 bg-gray-700 border-gray-600 placeholder-gray-200 text-gray-200 focus:ring-blue-500 focus:border-blue-500" />
            </div>

            <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium">
                    Password
                </label>

                <input formControlName="password" name="do_not_auto_complete" [type]="showPassword ? 'text' : 'password'"
                    id="country" autocomplete="new-password"
                    class="border block w-full h-10 outline-none text-sm rounded-lg p-2.5 bg-gray-700 border-gray-600 placeholder-gray-200 text-gray-200 focus:ring-blue-500 focus:border-blue-500" />

                <div class="flex flex-wrap mt-2">
                    <span
                        (click)="copyPassword()"
                        class="bg-gray-300 hover:bg-gray-400 ml-auto rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer">
                        {{ showCopied ? 'copied!' : 'copy' }}
                    </span>

                    <span (click)="tooglePasswordVisibility()"
                        class="bg-gray-300 hover:bg-gray-400 ml-2 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer">
                        {{ showPassword ? 'hide' : 'show' }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div modal-footer>
        <div class="flex w-full">
            <button [disabled]="!passwordForm.valid || isLoading" (click)="save()"
                [ngClass]="{
                    'bg-blue-700 border-blue-700 hover:shadow-lg hover:bg-blue-600': passwordForm.valid && !isLoading,
                    'bg-gray-300 cursor-not-allowed': (!passwordForm.valid || isLoading)
                }"
                class="ml-auto border px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full">
                {{ isLoading ? 'Loading' : 'Save' }}
            </button>
        </div>
    </div>
</app-modal>